body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  background-color: #ffffff;
}




.custom_dark-btn,
.custom_orange-btn {
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  width: 145px;
  outline: none;
  color: #f7f7f7;
  border: 1px solid transparent;
}

.custom_dark-btn {
  background-color: #000000;
}

.custom_dark-btn:hover {
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
}

.custom_orange-btn {
  background-color: #fc5d35;
}

.custom_orange-btn:hover {
  border: 1px solid #fc5d35;
  color: #fc5d35;
  background-color: transparent;
}

.custom_heading {
  text-align: center;
  font-weight: bold;
}

.custom_heading-text {
  text-align: center;
}


.main {
  height: 98vh;
  background-color: #f7f7f7;

}




.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;

}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #343434;
  text-align: center
}


.navbar-brand,
.navbar-brand:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #fafcfd;
}



.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 45px;
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #2e2e2d;
  margin-top: 5px;
}

.quote_btn-container a {
  display: inline-block;
  padding: 5px 15px;
  background-color: #fc5d35;
  color: #f7f7f7;
  font-size: 14px;
  text-transform: uppercase;
}





.service_section .card .card-img-top {
  width: 50px;
  margin: 55px auto 5px auto;
  margin-bottom: 1cm;
}

.service_section .card {
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.service_section .card .card-title {
  color: #fc5d35;

}

.service_section .card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: transparent;
}

.service_section .card:hover {
  cursor: pointer;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.service_section .card:hover::after {
  background-color: black;
}



.tasty_section {
  margin-top: 2cm;
  margin-bottom: 1.5cm;
  width: 100%;
  height: 500px;
  background-image: url(../images/tasty-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.tasty_section h2 {
  font-size: 125px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}




.contact_section input {
  border: none;
  outline: none;
  border-bottom: .8px solid #252525;
  width: 90%;
  margin: 10px 0;
}

.contact_form-container {

  margin-bottom: 2cm;
  padding: 15px 0 15px 0;

}

.contact_form-container button {
  border: none;
  background-color: #fc5d35;
  color: #fff;
  padding: 8px 40px;
  text-transform: uppercase;
  font-size: 14px;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}


.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}